<!-- <kendo-splitter orientation="vertical" style="height: 100vh;">
  <kendo-splitter-pane>
    <fm-pivot 
        [licenseKey]="'Z7Z3-XD6C31-634H11-2Q3L2H'"
        [report]="'https://cdn.flexmonster.com/reports/report.json'"
        [height]="'100%'"
        [width]="'100%'">
  </fm-pivot>
  </kendo-splitter-pane>

  <kendo-splitter-pane size="50%">
    <fm-pivot 
        [licenseKey]="'Z7Z3-XD6C31-634H11-2Q3L2H'"
        [report]="'https://cdn.flexmonster.com/reports/report.json'"
        [height]="'100%'"
        [width]="'100%'">
  </fm-pivot>
  </kendo-splitter-pane>  
</kendo-splitter> -->
<div style="height: 100%; border: 1px red solid;">
    <fm-pivot 
            [licenseKey]="'Z7Z3-XD6C31-634H11-2Q3L2H'"
            [report]="'https://cdn.flexmonster.com/reports/report.json'"
            [height]="'100%'"
            [width]="'100%'">
    </fm-pivot>
</div>